
@{
    ViewData["Title"] = "Index";
}


<div class="jumbotron jumbotron-fluid">
    <div class="container m-3">
        <h1 class="display-4">Transação Recebida!</h1>
        <p class="lead">Caso tenha alguma duvida, ligue ou envie um email para o nosso canal de atendeimento.</p>
    </div>
</div>


