body {
    font-family: 'Roboto', sans-serif;
}

li{    
    list-style:none;
}

.row {
    margin: 0;
}

header {
    background-color: #BC8F8F;
}

.container {
    padding: 5px 0px;
}

#cabecalho {
    background-color: #BC8F8F;
}

.navbar-brand {
    color: #ffffff;
    font-size: 30px;
}


    .navbar-brand:hover {
        color: #ffffff;
    }

#navbar-links a {
    color: #ffffff;
    font-size: 20px;
}

#navbar-links2 a {
    color: #ffffff;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 50px;
}

    #navbar-links2 a:hover {
        color: #A2CD5A;
    }

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.rodape {
    width: 100%;
    height: 60px;
    background-color: #BC8F8F;
    position: absolute;
    bottom: 0;
}

    .rodape p {
        padding-top: 10px;
        padding-left: 15px;
    }



.wrap h2 {
    text-align: center;
}

.wrap {
    width: 415px;
    overflow: hidden;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    background: #fff;
    border: 1px solid silver;
    border-radius: 5px;
}

    .wrap input {
        width: 400px;
        height: 35px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid silver;
        padding: 5px;
        font-size: medium;
    }

    /*.wrap .btn-button {
        padding: 10px;
        width: 413px;
        height: 40px;
        color: #fff;
        border-radius: 3px;
        border: 0;
        font-size: 18px;
        background-color: #3498db;
    }*/