
@model ProdutoViewModel

@{
    ViewData["Title"] = "Index";
}


<div><h2>@ViewData["Produto"]</h2></div>

<div class="row">

    @{

        foreach (var produto in Model.Produtos)
        {

            <partial name="ProdutoPartialView" for="@produto"/>

        }

    }

</div>