
@model ProdutoViewModel

@{
    ViewData["Title"] = "Index";
}

<br />
<div><h2 class="pl-3">@ViewData["Produto"]</h2></div>
<br />

<div class="row">

    @{

        foreach (var produto in Model.Produtos)
        {

            <partial name="ProdutoPartialView" for="@produto"/>

        }

    }

</div>