@{
    ViewData["Title"] = "Home Page";
}

@model ProdutoViewModel

<div class="text-justify">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <br />
    <h2 class="pl-3">@ViewData["Produto"]</h2>
    <br />
    <div class="row">

        @{

            foreach (var produto in Model.Produtos)
            {

                <partial name="ProdutoPartialView" for="@produto" />

            }

        }

    </div>

</div>
