@*@model IEnumerable<Categoria>*@
@model CategoriaViewModel

@{
    ViewData["Title"] = "Index";

}

<br />
<div><h2 class="pl-3"> @Model.CategoriaAtual</h2></div>
<br />

<div class="row">

    @{

        foreach (var categoria in Model.Categoria)
        {

            <partial name="_CategoriaPartialView" for="@categoria" />

        }

    }

</div>